extends ./layout.pug
block contenido
  form(action='/login' method='post')
    div(class='form-group')
      label(for='email') Email
      input(type='email' name='email' id='email' class='form-control')
    div(class='form-group')
      label(for='passweord') Password
      input(type='password' id='password' name='password' class='form-control')
    div(class='form-group')
      input(type='submit' class='btn btn-info' value='Iniciar Sesion')
