extends ./layout.pug
block contenido
  form(action='/login' method='post')
    .form-group
      label(for='email') Email
      input#email.form-control(type='email' name='email')
    .form-group
      label(for='passweord') Password
      input#password.form-control(type='password' name='password')
    .form-group
      input.btn.btn-info(type='submit' value='Login')
