extends ./layout.pug
block contenido
  form(action='/register' method='post')
    .form-group
      label(for='username') Username
      input#username.form-control(type='text' name='username')
    .form-group
      label(for='email') Email
      input#email.form-control(type='email' name='email')
    .form-group
      label(for='password') Password
      input#password.form-control(type='password' name='password')
    .form-group
      label(for='passweord_c') Password Confirmation
      input#password_c.form-control(type='password' name='password_confirmation')
    .form-group.center
      input.btn.btn-primary(type='submit' value='Sign Up')
